@model Article

<div class="container mb-5">
    <h1 class="display-4 mt-4">@Model.Title</h1>
    <br />
    <p>
        <strong class="text-muted">
            <span>@Model.Date</span>
            | China Standard Time
        </strong>
    </p>
    <p>@Model.Overview</p>
    <hr />
    <div class="mt-3 mb-4">
        @Html.Raw(Model.Content)
    </div>

    <form method="post" asp-controller="Article" asp-action="Detail">
        <input type="hidden" value="@Model.ArticleCode" name="articleCode"/>
        <textarea class="form-control mb-2" rows="4" placeholder="评论内容" maxlength="1024" name="detail"></textarea>
        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-success float-left" value="发送" />
            </div>
        </div>
    </form>

    <div id="comments" class="mt-4">

        @foreach (Comment comment in Model.Comments)
        {
            <div class="card comment-item mb-3">
                <div class="card-header">
                    <strong>@comment.User:</strong>
                    <span>@comment.Date</span>
                </div>

                <div class="card-body">
                    <p>@comment.Content</p>
                </div>
            </div>  
        }

    </div>
</div>