@model List<Article>

<link rel="stylesheet" href="/css/manager/index.css" />

<div class="container pt-5 pb-5">

    <div class="row">

        @foreach (var article in Model)
        {
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4 cover">
                            <a href="/Article/Detail/@article.ArticleCode" class="img" style="background-image: url('@article.CoverUrl');"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/Article/Detail/@article.ArticleCode">@article.Title</a></h5>
                                <p class="card-text">@article.Overview</p>
                                <p class="card-text"><small class="text-muted">@article.Date</small></p>
                                <div class="text-center">
                                    <a class="btn btn-warning">Edit</a>
                                    <a asp-controller="Manager" asp-action="RemoveArticle" asp-route-id="@article.ArticleCode" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>